* {
    margin: 0;
    padding: 0;
}

body {
    background: orange;
}

#box-model {
    font-family: Helvetica;
    font-size: 30px;
    text-align: center;
    background: #ccc;
    padding: 60px 10px;
    border: dashed 10px #000;
    margin: 50% 30%;
}